# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true


*.shp merge=binary
*.dbf merge=binary
*.shx merge=binary
*.sbn merge=binary
*.sbx merge=binary